#root {
  width: auto;
  height: auto;
}

.popup-box {
  position: absolute;
  width: 65px;
  height: 65px;
  border: 3px solid red;
  border-radius: 50%;
}

.selection-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 120px;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.thing-to-find {
  border: 1px solid black;
}

.thing-to-find:hover {
  background-color: aquamarine;
  cursor: default;
}